<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
 <typeAliases>
 	<typeAlias type="kr.co.tripweaver.user.model.UserTestVO" alias="userTestVo"/>
 	<typeAlias type="kr.co.tripweaver.member.model.MemberVO" alias="memberVo"/>
 </typeAliases>	
	
  <mappers>
  	<mapper resource="kr/co/tripweaver/config/db/usertest.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/member.xml"/>
  </mappers>
</configuration>