<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
 <typeAliases>
 	<typeAlias type="kr.co.tripweaver.user.model.UserTestVO" alias="userTestVo"/>
 	<typeAlias type="kr.co.tripweaver.member.model.MemberVO" alias="memberVo"/>
 	<typeAlias type="kr.co.tripweaver.board.model.BoardVO" alias="boardVo"/>
 	<typeAlias type="kr.co.tripweaver.article.model.ArticleVO" alias="articleVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.follow_following.model.FollowVO" alias="followVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.message.model.MessageVO" alias="messageVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.message.model.ParticipantVO" alias="participantVo"/>
 </typeAliases>	
	
  <mappers>
  	<mapper resource="kr/co/tripweaver/config/db/usertest.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/member.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/follow.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/board.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/article.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/message.xml"/>
  </mappers>
</configuration>