<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
 <typeAliases>
 	<typeAlias type="kr.co.tripweaver.user.model.UserTestVO" alias="userTestVo"/>
 	<typeAlias type="kr.co.tripweaver.member.model.MemberVO" alias="memberVo"/>
 	<typeAlias type="kr.co.tripweaver.board.model.BoardVO" alias="boardVo"/>
 	<typeAlias type="kr.co.tripweaver.article.model.ArticleVO" alias="articleVo"/>
 	<typeAlias type="kr.co.tripweaver.common.attachment.model.AttachmentVO" alias="attachmentVo"/>
 	<typeAlias type="kr.co.tripweaver.common.comment.model.CommentVO" alias="commentVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.follow_following.model.FollowVO" alias="followVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.message.model.MessageVO" alias="messageVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.message.model.ParticipantVO" alias="participantVo"/>
 	<typeAlias type="kr.co.tripweaver.postcard.model.PostCardVO" alias="postcardVo"/>
 	<typeAlias type="kr.co.tripweaver.hashtag.model.HashTagVO" alias="hashtagVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.tripplan.model.TripplanVO" alias="tripplanVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.tripplan.model.TripareaVO" alias="tripareaVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.tripplan.model.MapMarkerVO" alias="mapMarkerVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.tripplan.model.DailyPlanVO" alias="dailyPlanVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.tripplan.model.MypageTripPlanForListVO" alias="mypageTripPlanForListVo"/>
 	<typeAlias type="kr.co.tripweaver.common.like.model.LikeVO" alias="likeVo"/>
 	<typeAlias type="kr.co.tripweaver.mymenu.mypage.tripplan.model.ClusterVO" alias="clusterVo"/>
 	<typeAlias type="kr.co.tripweaver.common.comment.model.CommentVO" alias="commentVo"/>
	<typeAlias type="kr.co.tripweaver.essay.model.EssayVO" alias="essayVo"/>
	<typeAlias type="kr.co.tripweaver.mymenu.guideplan.model.GuidePlanVO" alias="guidePlanVo"/>
	<typeAlias type="kr.co.tripweaver.mymenu.reservation.model.ReservationVO" alias="reservationVo"/>
	<typeAlias type="kr.co.tripweaver.manager.conn_stat.model.ConnStatVO" alias="connStatVO"/>
 </typeAliases>	
	
  <mappers>
  	<mapper resource="kr/co/tripweaver/config/db/usertest.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/member.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/follow.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/attachment.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/comments.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/board.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/article.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/message.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/tripplan.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/triparea.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/mapmarker.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/dailyplan.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/postcard.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/hashtag.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/like.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/comment.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/essay.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/guideplan.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/reservation.xml"/>
  	<mapper resource="kr/co/tripweaver/config/db/connInfo.xml"/>
  </mappers>
  
</configuration>